{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="image-container">
        <img class="card-img-top"
            src="https://res.cloudinary.com/dahw9emjc/image/upload/v1670468012/hero_image_nj7vhi.jpg"
                alt="Image of Record collection">
    </div>
</div>

<section class="about">
    <h1 class="text-center mt-3">Lorem ipsum dolor sit amet</h1>

    <div class="text-center m-5">
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lectus purus</h4> 
        <p>malesuada a turpis in, laoreet pulvinar velit. Curabitur maximus mauris est, vitae cursus 
            eros rhoncus sed. Nulla eget mi nec arcu dapibus facilisis. Proin sodales nisl libero. </p>
        <p>volutpat quis est id venenatis. Nullam a tempus est, at volutpat tellus. 
                In efficitur id ante sit amet malesuada. Quisque cursus mi quis velit eleifend mollis.</p>
    
    </div>
</section>

{% endblock %}