{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row hero-container style=background-image">
        <img class="card-img-top"
            src="https://res.cloudinary.com/dahw9emjc/image/upload/v1670468012/hero_image_nj7vhi.jpg"
                alt="Image of Record collection">
    </div>
</div>

<section>
    <h1 class="text-center mt-3">Read posts about your favourite songs</h1>
    <div class="text-center m-5">
        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam luctus orci id turpis sodales venenatis. 
            Curabitur a enim non justo consequat eleifend.</P>
        <p>
            Fusce consequat erat risus, ac euismod neque sagittis a. In placerat nunc malesuada massa varius 
            laoreet. Phasellus nec feugiat lacus.
        </p>

        <a class="btn btn-lg btn-success" href="{% url 'posts' %}">Read the Posts</a>
    </div>>
</section>

{%endblock%}

