{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid>
    <div class="row justify-content-md-center">
        <div class=" col text-center">
            <h2>Posts</h2>
        </div>
    </div>
        <div class="row">
            <!-- Posts Column -->
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
    
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top"
                                        src="https://res.cloudinary.com/dahw9emjc/image/upload/v1675920120/music/concert_vqe6wc.jpg"
                                        alt="image of a band in concert">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }} "
                                        alt="image posted by the user">
                                    {% endif %}
                                </div>
                                
                                <div>
                                    <p class="postlist-footer card-footer">posted by {{ post.author }} on
                                        {{ post.created_on}}</p>
                                    <i class="far fa-heart">{{ recipe.number_of_favourites }}</i>
                                    <i class="far fa-comments" aria-hidden="true"> {{ post.number_of_likes }} </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
    
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
    
                </div>
            </div>
        </div>
    </div>
    

</div>

{% endblock %}